version: "3.9"
services:
  portainer:
    image: cr.portainer.io/portainer/portainer-ce:2.9.3
    ports:
      - "8000:8000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: always
volumes:
  portainer_data:
