version: "3.9"
services:
  whoami:
    image: traefik/whoami
    ports:
      - "8003:80"
    labels:
      - "traefik.http.routers.whoami.rule=PathPrefix(`/whoami/`)"
    restart: always

  traefik:
    image: traefik:v2.5
    ports:
      - "8080:8080"
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $PWD/traefik.yml:/etc/traefik/traefik.yml
    restart: always
